.list {

}

.rank {
  display: inline-block;
  width: 40px;
 }

.item {
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 6px 14px;
  color: #555;
}

.item:hover {
  background: $highlightColor;
  color: #000;
  cursor: pointer;
}

.elo {
}

.name {
  flex: 2;
}

.line {
  display: flex;
  flex-flow: row;
}
