.title {
  color: $mainColor;
  font-size: px(40);
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.link {
  color: $yellow;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: px(2);
    bottom: px(0);
    background-color: $yellow;
    right: px(-1);
    left: @right;
  }

  &:hover {
    color: $red;
    &:before {
      background-color: $red;
    }
  }
}

.p {
  color: $mainColor;
}

.button {
  margin-top: px(50);
  width: px(50);
  height: @width;
  color: #333;
  font-size: px(30);
  text-align: center;
  background-color: $mainColor;
  display: inline-block;
  border-radius: px(3);
}

.ranking {
  background: #222;
  color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px 25px;
  font-size: 14px;
  text-align: center;
  width: 200px;
  margin: auto;
}

.first i {
  color: gold;
  font-size: 44px;
}

.second i {
  color: silver;
  font-size: 44px;
}

.third i {
  color: #C9AE5D;
  font-size: 44px;
}

.rank {
  font-size: 14px;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.rankingContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row;
  justify-items: center;
}
